<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <title>Week6</title>
  </head>
 <body>

<header>歡迎光臨，請註冊登入系統</header>
<div class="mean">
  <h3>註冊帳號</h3>
  <form action="/signup" method="POST">
    姓名&nbsp; <input type="text" name="name" /><br />
    帳號&nbsp; <input type="text" name="username" /><br />
    密碼&nbsp; <input type="text" name="password" /><br />
    <br />
    <button>註冊</button>
    <br />
  </form>
  <br />
</div>

<hr />

<div class="mean">
  <h3>登入系統</h3>
 <form action="/signin" method="POST" >
帳號&nbsp; <input type="text" name="username" /><br/>
密碼&nbsp; <input type="text" name="password" /><br/>
<br/>
<button>登入</button>
<br/>
</form>
<br/>
</div>

</body>
</script>
  </html>