<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <title>會員頁</title>
  </head>
  <body>
    <header>歡迎光臨，這是會員頁</header>
    <div class="mean">
      <br />
      <div>{{name}}，恭喜您成功登入系統</div>
      <br />
      <br />
      <a href="/signout">登出系統</a>
    </div>
    <br />
    <div class="mean">
      <h3>查詢會員姓名</h3>
      <div>
        <input type="text" id="username" />
        <button onclick="submit()">查詢</button>
      </div>
      <div id="username_result"></div>
    </div>
    <br />
    <br />
    <br />
    <div class="mean">
      <h3>更新我的姓名</h3>
      <div>
        <input type="text" id="update_name" />
        <button onclick="update()">更新</button>
      </div>
      <div id="update_result"></div>
    </div>
    <script type="text/Javascript">
          function submit() {
            const username = document.getElementById("username").value;
            fetch("http://127.0.0.1:3000/api/member?username=" + username)
              .then(function (response) {
                return response.json();
              })
              .then(function (result) {
                document.getElementById("username_result").innerHTML =
                  result.data.name + "(" + result.data.username + ")";
              })
              .catch(function (error) {
                document.getElementById("username_result").innerHTML = "無此人註冊";
              });
          }

          function update() {
            const update_name = document.getElementById("update_name").value;
            let url = "http://127.0.0.1:3000/api/member";
            const data = {
                name: update_name,
              };
            fetch(url,{
                method: "PATCH",
                body: JSON.stringify(data),
                headers: {
                    "Content-type": "application/json",
                },
            })
              .then((res) => {
                return res.json();
              })
              .then((result) => {
                console.log(result);
                if (result["OK"] == true) {
                  document.getElementById("update_result").innerHTML = "更新成功";
                }
              })
              .catch((result) => {
                if (result["error"] == true) {
                  document.getElementById("update_result").innerHTML = "更新失敗";
                }
             });
      }
    </script>
  </body>
</html>
